@model Ucaldas.Models.MONITORIA
@{
    ViewBag.Title = "Consultar Monitorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Monitoria</h2>
<br />
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group ">
            <label class="col-md-2 h4">Cod. del Estudiante</label>
            <div class="col-md-4">
                <input class="form-control" required type="text" placeholder="123456" name="COD_ESTUDIANTE" />
            </div>
            <label class="col-md-2 h4">Periodo academico</label>
            <div class="col-md-4">
                <input class="form-control" required type="text" placeholder="Ej: 2018-I o 2018-II" name="PERIODO" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">Consultar</button>
            </div>
        </div>

        @if (Model != null)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group ">
                        <label class="col-md-2 h4">Estudiante:</label>
                        <div class="col-md-4">
                            <label class="h6">@Model.ESTUDIANTE.PERSONA.NOMBRE @Model.ESTUDIANTE.PERSONA.APELLIDOS</label>
                        </div>
                        <label class="col-md-2 h4">Periodo:</label>
                        <div class="col-md-4">
                            <label class="h6">@Model.PERIODO</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 h4">Tipo de monitoria:</label>
                        <div class="col-md-10">
                            <label class="h6">@Model.TIPO_MONITORIA.NOMBRE</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 h4">Horas reportadas:</label>
                        <div class="col-md-4">
                            <label class="h6">@Model.HORAS_REPORTADAS</label>
                        </div>
                        <label class="col-md-2 h4">Horas pagas:</label>
                        <div class="col-md-4">
                            <label class="h6">@Model.HORAS_PAGAS</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 h4">Total:</label>
                        <div class="col-md-10">
                            <label class="h6">@Model.TOTAL</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-2 h4">Estado:</label>
                        <div class="col-md-10">
                            @if (Model.ESTADO == 1)
                            {
                                <label class="h6">Activo</label>
                            }
                            else
                            {

                                <label class="h6">Inactivo</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




